<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.1-dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>{% block title %} Wheel Of Life Balance {% endblock%}</title>
</head>
<body>

{% include 'include/_header.html' %}

{% include 'include/_topnav.html' %}

{% include 'include/_sidebar.html' %}

<div class="row-1">
    <div class="leftcolumn">
        {% block content %} Content {% endblock %}
    </div>
    <div class="rightcolumn">
        {% include 'include/_media.html' %}
    </div>
</div>
{% include 'include/_footer.html' %}
</body>
</html>
