  {% block Media %}
    <div class="card-2">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
    <div class="card-2">
      <h3>My project</h3>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
    </div>
    <div class="card-2">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  {% endblock %}
