{% extends 'base.html' %}

{% block title %}
{{ block.super }} | {{ article.article_title }}
{% endblock %}

{% block content %}
        {% load article_tags %}
        <div class="card">
            <h2>{{article.article_title}}</h2>
            <h5>Дата публикации : {{article.pub_date}}</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Дата последней редакции: {{article.redact_date}}</p>
            <p>{{article.article_text}}</p>
        </div>
        <ul>
            {% for comment in comm%}
            <li>{{ comment.author_name }}</li>
            {{ comment.comment_text }}

            {% endfor %}
        </ul>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Comments</label>
        </div>
    {% endblock %}