{% extends 'base.html' %}
{% block title %}
{{ block.super }} | {{ title }}
{% endblock %}
{% block content%}
{%if articles_list%}
{%for article in articles_list%}
<div class="card">
    <div class="card-title">Категория: <a href=" {{article.category.get_absolute_url}}">{{article.category}}</a></div>
    <h2>{{article.article_title}}</h2>
    <h5>Дата публикации : {{article.pub_date}}</h5>
    {% if article.photo %}
    <img src="{{ article.photo.url }}" alt="">
    {% else %}
    <div class="fake-img" style="height:200px;"> Image</div>
    {% endif %}
    <p>Дата последней редакции: {{article.redact_date}}</p>
    <p>{{article.article_text|linebreaks|truncatewords:50}}</p>
    <a href="{% url 'article and comments' article.id %}" class="btn btn-primary" align="centre">Читать</a>
</div>
{% endfor %}
{% endif %}
{% endblock %}

