{%load article_tags %}
<div class="col-md-4">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Выбор категории
        </button>
        <ul class="dropdown-menu">
            {% get_list_categories as categories%}
            {%for item in categories %}
            <li><a class="dropdown-item" href="{% item.get_absolute_url %}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>